services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: fastkol-backend
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: fastkol-frontend
    env_file:
      - ./.env
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped
